<h1>About HSBC</h1>
<br><br>
HSBC is one of the world’s largest banking and financial services organisations. We serve more than 40 million customers through our global businesses: Wealth and Personal Banking, Commercial Banking, and Global Banking & Markets. Our network covers 64 countries and territories in Europe, Asia, the Middle East and Africa, North America and Latin America.
<br><br>
Our purpose – Opening up a world of opportunity – explains why we exist. We’re here to use our unique expertise, capabilities, breadth and perspectives to open up new kinds of opportunity for our customers. We’re bringing together the people, ideas and capital that nurture progress and growth, helping to create a better world – for our customers, our people, our investors, our communities and the planet we all share.
<br><br>
Listed on the London, Hong Kong, New York and Bermuda stock exchanges, shares in HSBC Holdings plc are held by around 194,000 shareholders in 130 countries and territories.

